bin/rclocal/
/modules/broot/broot.configlink/launcher/
/modules/git-cola/git-cola.configlink/settings
module-shell/localrc.symlink
/modules/plantuml/plantuml.jar
/modules/plantuml/README.png
/modules/ulauncher/ulauncher.configlink/ext_preferences/*.db
/modules/xfce/xfce4.configlink.bkp/*
/modules/xfce/xfce4.configlink/desktop/*
/modules/xfce/xfce4.configlink/helpers.rc
/modules/xfce/xfce4.configlink/panel/*
/modules/xfce/xfce4.configlink/terminal/*
/modules/xfce/xfce4.configlink/xfce4-notes.gtkrc
/modules/xfce/xfce4.configlink/xfce4-notes.rc
/modules/xfce/xfce4.configlink/xfce4-screenshooter
/modules/xfce/xfce4.configlink/xfce4-taskmanager.rc
/modules/xfce/xfce4.configlink/xfce4-taskmanager.rc
/modules/xfce/xfce4.configlink/xfconf/xfce-perchannel-xml/*.xml
/modules/xfce/xfce4/desktop/icons.*.rc
/modules/xfce/xfce4/helpers.rc
/modules/xfce/xfce4/panel/*
