[submodule "modules/stderrred/stderred"]
	path = modules/stderrred/stderred
	url = git://github.com/sickill/stderred.git
[submodule "modules/dev-shell-essentials"]
	path = modules/dev-shell-essentials
	url = https://github.com/kepkin/dev-shell-essentials.git
[submodule "modules/scaladiagrams/scaladiagrams"]
	path = modules/scaladiagrams/scaladiagrams
	url = https://github.com/mikeyhu/scaladiagrams.git
[submodule "modules/ttygif/ttygif"]
	path = modules/ttygif/ttygif
	url = https://github.com/icholy/ttygif.git
[submodule "modules/flamegraph"]
	path = modules/flamegraph
	url = https://github.com/brendangregg/FlameGraph.git
[submodule "modules/confluencer"]
	path = modules/confluencer
	url = https://github.com/mauriciojost/confluencer.git
[submodule "modules/fzf/fzf"]
	path = modules/fzf/fzf
	url = https://github.com/junegunn/fzf.git
