[submodule "modules/stderrred/stderred"]
	path = modules/stderrred/stderred
	url = git://github.com/sickill/stderred.git
[submodule "modules/dev-shell-essentials"]
	path = modules/dev-shell-essentials
	url = https://github.com/kepkin/dev-shell-essentials.git
[submodule "modules/scaladiagrams/scaladiagrams"]
	path = modules/scaladiagrams/scaladiagrams
	url = https://github.com/mikeyhu/scaladiagrams.git
[submodule "modules/xfce/rename-xfce-workspace/rename-xfce-workspace"]
	path = modules/xfce/rename-xfce-workspace/rename-xfce-workspace
	url = https://github.com/mauriciojost/rename-xfce-workspace.git
[submodule "modules/ttygif/ttygif"]
	path = modules/ttygif/ttygif
	url = https://github.com/icholy/ttygif.git
