bin/rclocal/
module-shell/localrc.symlink
/modules/plantuml/plantuml.jar
/modules/plantuml/README.png
/modules/ulauncher/ulauncher.configlink/ext_preferences/*.db
/modules/xfce/xfce4/desktop/icons.*.rc
/modules/xfce/xfce4/panel/*
/modules/xfce/xfce4/helpers.rc
/modules/xfce/xfce4.configlink.bkp/*
/modules/xfce/xfce4.configlink.working-toremove/*
/modules/xfce/xfce4.configlink/desktop/*
/modules/xfce/xfce4.configlink/panel/*
/modules/xfce/xfce4.configlink/xfce4-taskmanager.rc
/modules/xfce/xfce4.configlink.bkp/Verve/history
/modules/xfce/xfce4.configlink.bkp/desktop/*.rc
/modules/xfce/xfce4.configlink.bkp/panel/*.rc
/modules/xfce/xfce4.configlink.bkp/xfconf/xfce-perchannel-xml/*.xml
/modules/xfce/xfce4.configlink.working-toremove/desktop/*.rc
/modules/xfce/xfce4.configlink.working-toremove/panel/*
/modules/xfce/xfce4.configlink/desktop/*
/modules/xfce/xfce4.configlink.working-toremove/xfconf/xfce-perchannel-xml/*.xml
/modules/xfce/xfce4.configlink.bkp/terminal/*
/modules/xfce/xfce4.configlink.bkp/xfce4-notes.gtkrc
/modules/xfce/xfce4.configlink.bkp/xfce4-notes.rc
/modules/xfce/xfce4.configlink.bkp/xfce4-screenshooter
/modules/xfce/xfce4.configlink.working-toremove/Verve/history
/modules/xfce/xfce4.configlink/panel/*
/modules/xfce/xfce4.configlink/xfce4-notes.rc
/modules/xfce/xfce4.configlink/xfce4-notes.gtkrc
/modules/xfce/xfce4.configlink/xfconf/xfce-perchannel-xml/*.xml
/modules/xfce/xfce4.configlink/xfce4-taskmanager.rc
/modules/git-cola/git-cola.configlink/settings
/modules/xfce/xfce4.configlink/terminal/*
/modules/xfce/xfce4.configlink/helpers.rc
/modules/broot/broot.configlink/launcher/bash/br
/modules/broot/broot.configlink/launcher/installed-v1
/modules/xfce/xfce4.configlink/xfce4-screenshooter
