[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/mjost/shared]
row=0
col=1

[/home/mjost/Downloads]
row=2
col=1

[/home/mjost/series-gene]
row=4
col=0

[/home/mjost/cnc]
row=4
col=1

[/home/mjost/opt]
row=5
col=0

[/home/mjost/workspace]
row=8
col=0

[/home/mjost/tmp]
row=3
col=1

[/home/mjost/topics]
row=8
col=1

[8A52EACB52EABAD9]
row=3
col=0

[Trash]
row=2
col=0

[/]
row=0
col=0

[/home/mjost]
row=1
col=0

