[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/mjost/Desktop/JProfiler.desktop]
row=4
col=0

[8A52EACB52EABAD9]
row=0
col=0

[Trash]
row=1
col=0

[/]
row=2
col=0

[/home/mjost]
row=3
col=0

