[Desktop Entry]
Name=Ulauncher
Comment=Application launcher for Linux
Categories=GNOME;Utility;
Exec=/usr/bin/ulauncher --hide-window --hide-window --hide-window --hide-window
Icon=ulauncher
Terminal=false
Type=Application
X-GNOME-Autostart-enabled=true
Hidden=false
NoDisplay=false
Name[en_US]=/usr/bin/ulauncher
Comment[en_US]=